@model FormViewModel;
<div class="form-full-vc">
    <section class="form-title">
        <h4>Titre</h4>
        <h2>@Model.Title</h2>
    </section>

    <section class="dates">
        <p>Créé le @Model.CreatedAt.ToString("dd/MM/yy")</p>
        @if (Model.PublishedAt != null)
        {
            <p>Publié le @Model.PublishedAt?.ToString("dd/MM/yy")</p>
        }
        @if (Model.ClosedAt != null)
        {
            <p>Clôturé le @Model.ClosedAt?.ToString("dd/MM/yy")</p>
        }
    </section>

    <section class="form-description">
        <h4>Description</h4>
        <p>@Model.Description</p>
    </section>

    @* Question list *@
    <vc:question-full-list question-view-models="Model.QuestionViewModels" />

    <section class="user-validation">
        <div class="action">
            <a href="#" role="button" class="primary">Envoyer</a>
        </div>
    </section>
</div>