@model FormViewModel;
<div class="form-full-vc">
    <h2>@Model.Title</h2>

    <section class="dates">
        <p>Créé le @Model.CreatedAt.ToString("dd/MM/yy")</p>
        @if (Model.PublishedAt != null)
        {
            <p>Publié le @Model.PublishedAt?.ToString("dd/MM/yy")</p>
        }
        @if (Model.ClosedAt != null)
        {
            <p>Clôturé le @Model.ClosedAt?.ToString("dd/MM/yy")</p>
        }
    </section>

    <div class="description">@Model.Description</div>

    @* Question list *@
    <vc:question-full-list question-view-models="Model.QuestionViewModels" />

    @if (Model.ClosedAt == null && Model.PublishedAt != null)
    {
        <section class="user-validation">
            <div class="action">
                <a href="#" role="button" class="primary">Envoyer</a>
            </div>
        </section>
    }
</div>