@model FormViewModel

<tr class="form-row-vc">
    <th class="title-col"><p>@Model.Title</p></th>
    <th class="date-col">
        @if (@Model.UpdatedAt == null)
        {
            @Model.UpdatedAt
        }
        @Model.CreatedAt
    </th>
    <th class="status-col">
        @if (Model.PublishedAt == null & Model.ClosedAt == null)
        {
            <p>Brouillon</p>
        }
        @if (Model.PublishedAt != null & Model.ClosedAt == null)
        {
            <p>Publié</p>
        }
        @if (Model.ClosedAt != null)
        {
            <p>Clôturé</p>
        }
    </th>
    <th class="actions-col">
        <a href="#" role="button">Voir</a>
        <a asp-controller="Form" asp-action="Edit" asp-route-id="@Model.Id" role="button">Editer</a>
        <a href="#" role="button">Dupliquer</a>
    </th>
</tr>