@model FieldViewModel;
<p class="field-full-vc">
    @*Display input type*@
    @if (ViewBag.QuestionViewModel.InputTypeViewModel.Markup == "textarea")
    {
        <textarea id="option-@Model.Id" name="records[@ViewBag.QuestionViewModel.InputTypeViewModel.Markup-@Model.Id]"></textarea>
    }
    else
    {
        @if (ViewBag.QuestionViewModel.InputTypeViewModel.Markup == "radio")
        {
            <input id="option-@Model.Id" type="@ViewBag.QuestionViewModel.InputTypeViewModel.Markup" name="records[@ViewBag.QuestionViewModel.InputTypeViewModel.Markup-@ViewBag.QuestionViewModel.Id]" value="@Model.Label"/>
        }
        else
        {
            <input id="option-@Model.Id" type="@ViewBag.QuestionViewModel.InputTypeViewModel.Markup" name="records[@ViewBag.QuestionViewModel.InputTypeViewModel.Markup-@Model.Id]" value="@Model.Label"/>
        }
    }

    @*Display label if exist*@
    @if (ViewBag.QuestionViewModel.InputTypeViewModel.Markup != "text" || ViewBag.QuestionViewModel.InputTypeViewModel.Markup != "textarea")
    {
        <label for="option-@Model.Id">@Model.Label</label>
    }
</p>