@model FormViewModel;

<article class="form-short-vc" style="height:auto">
    <header style="height:auto">
        <h2 style ="height:50px">@Model.Title</h2>
        <p><strong>Auteur </strong>: </p>
        <p><strong>Date de publication </strong>: @Model.PublishedAt?.ToString("dd/MM/yyyy")</p>
    </header>
    <section style ="height:50px">
        <p><strong>Description </strong>: @Model.ShortDescription </p>
    </section>
    <footer style="height:auto">
        @if (@Model.PublishedAt != null && @Model.ClosedAt == null)
        {
            <a asp-controller="Form" asp-action="Submit" asp-route-id="@Model.Id" role="button" class="primary">Répondre</a>
        }
        @if (@Model.ClosedAt != null)
        {
            <a asp-controller="Form" asp-action="Show" asp-route-id="@Model.Id" role="button" class="primary">Résultats</a>
        }
    </footer>
</article>